.card-header{
    background-color: black;
    color: white;
}
.button-container{
    position: fixed;
    bottom: 0;
    right: 0 !important; 
    z-index: 20;
    padding-bottom: 20px;
    padding-right: 20px;
}
table{
    width: 100%;
}
.button:hover{
    background-color: black;
    color: white;
    border-color: white;
}
.w-10{
    width: 200px;
}
.mouse-pointer:hover{
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    cursor: pointer !important;
}
thead{
    background-color: black;
    color: white;
}
.w-1000{
    width: 1200px;
}
.inv{
    color: #dc3545 !important;
}

.act{
    color: green !important;
}

.new{
    color: #0d6efd !important;
}