.card{
    margin-left: 70px;
    margin-right: 40px;
}
.display-3{
    font-weight: bold;
}
.white{
    color: white;
}
.card-header{
    background-color: black;
    color: white;
}
.er{
    background-color: black;
    color: white;
}