.image{
    background-image: url('https://free4kwallpapers.com/uploads/originals/2016/02/08/gradient-grey-wallpaper.jpg');
}
.card{
    margin-left: 70px;
    margin-right: 40px;
}
.display-3{
    font-weight: bold;
}
.white{
    color: white;
}
