<div class="image">
    <div class="row">
        <div class="col-md d-flex justify-content-center align-items-center mt-5 mb-5">
            <div class="mx-3 my-2 lead"> Bug Tracker Application By Ather </div>
            <!-- <a class="btn btn-dark btn-sm" role="button" title="Click to view without logging in"
                routerLink="/home">View Issues</a> -->
        </div>
    </div>
    <div class="pb-5 d-flex justify-content-center align-items-center">
        <div class="card shadow">
            <div class="card-header text-center">
                <h4 class="my-auto">
                    LOGIN
                </h4>
            </div>
            <div class="card-body" ngClass="{{ theme && 'darkTab'}}">

                <form [formGroup]="form" (ngSubmit)="submitForm()" class="form-group">
                    <span *ngIf="wrongcred" class="row d-flex justify-content-center p-0">
                        <span class="col-md-7 alert alert-danger p-1 d-flex justify-content-center">Wrong Username or
                            Password</span>
                    </span>
                    <div class="row d-flex justify-content-center mt-5">
                        <div class="col-md-10">
                            <div class="d-flex justify-content-center align-items-center ">
                                <mat-icon class="">account_circle</mat-icon>
                                
                                    <input type="text" id="useremail" ngClass="{{ theme && 'input-dark'}}" class="form-control mx-3" formControlName="username" placeholder="Enter Your Email">
                                </div>      
                                    <span class="p-0 text-center er"
                                        *ngIf="form.get('username')?.invalid && form.get('username')?.touched">Enter
                                        Username</span>
                              

                            
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center mt-5">
                        <div class="col-md-10">
                            <div class="d-flex justify-content-center align-items-center">
                                <mat-icon >lock</mat-icon>

                                <input type="password" id="userpassword" ngClass="{{ theme && 'input-dark'}}"  placeholder="Enter Your Password" class=" form-control mx-3" formControlName="password">
                            </div>
                                <span class="p-0 er"
                                    *ngIf="form.get('password')?.invalid && form.get('password')?.touched">Enter
                                    Password</span>

                            
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-4">

                        <a routerLink="/signup" (click)="changepass()" class="text-center mx-auto my-auto">
                            Forgot Password ? </a>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-5">

                        </div>
                    </div>
                    <div class="d-flex flex-column align-items-center mt-4">
                        <button class="btn btn-primary mx-4 col-md-10 my-2" type="submit">SIGN IN</button>

                        <button class="btn btn-success mx-4 col-md-10 my-2" type="button" (click)="signup()">SIGN UP</button>
                    </div>
                    <p class="d-flex justify-content-center mt-4 mb-3 lead">Click Signup if you dont have an existing
                        account</p>
                </form>
            </div>
        </div>
    </div>
</div>