<!-- <div class="card">
    <div class="card-header d-flex justify-content-center my-auto">
        <p class="display-6"> Viewing Details </p>
    </div>
    <div class="card-body ">
        <div class="row mb-4">
            <div class="col-md-2 d-flex justify-content-start">
                <a role="button" routerLink="/home" class="btn btn-primary"> < Back</a>
            </div>
            <div class="col-md-9 d-flex justify-content-end">
                <button class="mx-4 btn btn-primary" (click)="editMode=!editMode"> {{ editMode ? 'Cancel' : 'Edit' }}</button>
                <button class="btn btn-danger btn-sm" (click)="delete(id)" >Delete</button> 
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-4">
            <div class="col-md-2 ">
                <label for="name">Issue Description</label>
            </div>
            <div class="col-md-5">
                <input type="text" id="name" class="form-control" name="name" [disabled]="!editMode" [(ngModel)]="name">
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-4">
            <div class="col-md-2 ">
                <label for="severity">Issue Severity</label>
            </div>
            <div *ngIf="!editMode" class="col-md-5">
                <input type="text" id="severity" class="form-control" name="severity" disabled [(ngModel)]="severe">
            </div>
            <div *ngIf="editMode" class="col-md-5 select">
                <select name="select" id="select" class="form-select" [(ngModel)]="severe">
                    <option value=""> --Select--</option>
                    <option *ngFor="let select of options" value="{{select}}">{{select}}</option>
                </select>
            </div>
            
        </div>
        <div *ngIf="!editMode" class="row d-flex justify-content-center mt-4">
            <div class="col-md-2">
                <label for="status">Issue Status</label>
            </div>
            <div class="col-md-5">
                <input type="text" id="status" class="form-control" name="status" disabled [(ngModel)]="status">
            </div>
        </div>
        <div *ngIf="editMode" class="row d-flex justify-content-center mt-4 side">
            <div class="col-md-2 ">
                <label for="status">Issue Status</label>
            </div>
            <ng-container *ngIf="editMode">
                <div *ngFor="let rad of radio" class="col-md-2 ">
                    <label for="status">{{rad}}</label>
                    <input type="radio" class="form-check-input" id="status" name="status" value="{{rad}}" [(ngModel)]="status">
                </div>
            </ng-container>
        </div>
        <div class="row d-flex justify-content-center mt-4 mb-5">
            <div class="col-md-2 ">
                <label for="date">Created Date</label>
            </div>
            <div class="col-md-5">
                <input type="text" id="date" class="form-control" name="date" disabled value="{{date | date}}">
            </div>
        </div>
        <div *ngIf="editMode" class="row mb-4 mt-4">
            <div class="col-md-9 d-flex justify-content-end">
                <button class="btn btn-primary" (click)="edit()"> Save </button>
            </div>
        </div>
    </div>
</div> -->
<div class="d-flex justify-content-between mt-3">
    <div class="d-flex align-items-center justify-content-evenly mx-5 flex-wrap">
        <h2>Ather Ahmed </h2>
        <mat-icon class="my-0 mx-2 py-0 mb-3">account_circle</mat-icon>
    </div>
    <div>
        <button class="btn btn-danger px-5 py-1 mx-3" matTooltip="click to go back" (click)="goBack()">Close</button>
        <button class="px-5 py-1 btn btn-primary mx-5" matTooltip="save details" (click)="saveOrCreate()">{{ new ?
            'Create' : 'Save'}}</button>
    </div>
</div>
<div class="custom_cont ">
    <mat-accordion class="">
        <mat-expansion-panel [expanded]="true" class=" mb-3" #matoverview>
            <mat-expansion-panel-header class="pointer-none">
                <mat-panel-title>
                    <h2 class="my-5"> Overview </h2>
                </mat-panel-title>
            </mat-expansion-panel-header>



            <div class="d-flex justify-content-between brdr flex-wrap">
                <div class="col-md-6">
                    <h3> Record Title </h3>
                    <input type="text" id="title" name="title" class="form-control" placeholder="Enter Title"
                        [(ngModel)]="title">
                </div>
                <div class="col-md-2">
                    <h3 class="mx-5"> Select Type </h3>
                    <div class="d-flex justify-content-center align-items-center">
                        <mat-icon id="default_icon" class="mx-3" *ngIf="!icon">account_box</mat-icon>
                        <mat-icon id="bug_icon" class="mx-3" *ngIf="icon === 'Bug'">bug_report</mat-icon>
                        <mat-icon id="task_icon" class="mx-3" *ngIf="icon === 'Task'">assignment</mat-icon>
                        <mat-icon id="UserStory_icon" class="mx-3"
                            *ngIf="icon === 'UserStory'">chrome_reader_mode</mat-icon>
                        <select name="type" id="type" class="form-select" (change)="ontypeChange()" [(ngModel)]="type">
                            <option value="">Select</option>
                            <option value="UserStory"> UserStory</option>
                            <option value="Task">Task</option>
                            <option value="Bug">Bug</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2 mx-5">
                    <h3> Select Status</h3>
                    <select name="status" id="status" class="form-select" [(ngModel)]="status"
                        [ngClass]='status === "Invalid" ? "inv" : status === "New" ? "new": status === "Active" ? "act" : ""'>
                        <option value="">Select</option>
                        <option value="Invalid">Invalid</option>
                        <option value="New">New</option>
                        <option value="Active">Active</option>
                    </select>
                </div>
            </div>
            <div class="d-flex justify-content-start my-4">
                <div class="col-md-6">
                    <h3 class="inline">Enter Description</h3> (Maximum 200 Characters)
                    <textarea name="desc" id="desc" cols="30" class="form-control" rows="10" (keyup)="count()"
                        [(ngModel)]="description"></textarea>
                    <span *ngIf="showCount"> {{ showCount }} Chars Entered</span>
                </div>
                <div class="col-md-4 mb-5 mx-5">
                    <mat-tab-group>
                        <mat-tab label="Efforts">
                            <div class="d-flex justify-content-start mt-4">
                                <label for="assign-to">
                                    <div class="d-flex  justify-content-start">
                                        <p class=" d-flex justify-content-center border-bottom-none" disabled> Assigned
                                            To <mat-icon class="mx-2">account_circle</mat-icon> </p>
                                    </div>
                                </label>
                            </div>
                            <div class="col-md-12">
                                <app-advancelookup [advanceLookup]="false" [filteredOptions]="data"
                                    [headerObj]="headerObj" (loadPage)="loadMore($event)"
                                    (searchText)="searchApi($event)" [selectedObj]="selectedUsers"
                                    [value]="selectedUsers.name" [pageNo]="1"
                                    [enableMultiInput]="true"></app-advancelookup>
                            </div>
                            <div class="d-flex justify-content-between mt-3">

                                <mat-form-field appearance="standard">
                                    <mat-label>Select Start Date</mat-label>
                                    <input matInput [matDatepicker]="picker1" [(ngModel)]="startDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>

                                </mat-form-field>
                                <mat-form-field appearance="standard">
                                    <mat-label>Select End Date</mat-label>
                                    <input matInput [matDatepicker]="picker2" [(ngModel)]="endDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="d-flex flex-column justify-content-between mt-2 flex-wrap">
                                <div class="">
                                    <div class="mb-2 text-end"> Enter Efforts In Hours </div>
                                    <input type="number" placeholder="Total Efforts in Hours" class="form-control mb-3"
                                        [(ngModel)]="efforts">
                                </div>
                                <div class="">
                                    <div class="mb-2 text-end"> Completed Efforts In Hours </div>
                                    <input type="number" placeholder="Completed Efforts" class="form-control"
                                        [(ngModel)]="effortsComp">
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Attachments">

                            <div class="d-flex flex-column align-items-start justify-content-between flex-wrap">

                                <div class="d-flex justify-content-start mt-4 flex-wrap">
                                    <label for="links text-center">
                                        <div class="d-flex justify-content-start">
                                            <div class="d-flex flex-column">
                                                <div class="btn btn-outline-dark d-flex justify-content-center " (click)="clickel()">
                                                    Add Links <mat-icon class="py-0 px-0 mx-1">add</mat-icon></div>
                                                <app-advancelookup [advanceLookup]="false" [filteredOptions]="recordsData"
                                                    [headerObj]="recordHeaders" (loadPage)="loadMore($event)"
                                                    (searchText)="searchApi($event)" [selectedObj]="selectedRecord"
                                                    [value]="selectedRecord.name" [pageNo]="1" [openPop]="true" [hide]="true" 
                                                    [enableMultiInput]="true"></app-advancelookup>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                                <input type="file" class="form-control mt-4" name="attachmenst" id="attachments">
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>


        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion class="mt-5">
        <mat-expansion-panel #matcomment (afterExpand)="loadComments()">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h2 class="my-5">Comments & Discussion </h2>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="custom-cont brdr">

                <div class=" d-flex justify-content-center align-items-center flex-wrap">
                    <div class="mr-5">
                        <label for="commentBox" [ngClass]=" comment && 'btn btn-primary'" (click)="addComment()">{{
                            adding ? 'Adding...' : 'Add Comment'}}</label>
                    </div>
                    <div class="col-md-10">
                        <textarea name="comment" id="comment" cols="20" rows="2" class="form-control"
                            [(ngModel)]="comment"></textarea>
                    </div>

                </div>

            </div>
            <div class="d-flex flex-column justify-content-center align-items-center mt-4 flex-wrap">
                <div class="card shadow-sm bg-white-rounded mx-3 w-100 rounded-lg mb-5">
                    <div class="container">
                        <div class="d-flex flex-column comment-whole mb-4" *ngFor="let comment of comments;let i=index">
                            <div class="d-flex align-items-center justify-content-center mt-4">
                                <div class="d-flex flex-column justify-content-center align-items-center mt-3">
                                    <img src="https://as2.ftcdn.net/v2/jpg/02/34/61/79/1000_F_234617921_p1AGQkGyEl8CSzwuUI74ljn6IZXqMUf2.jpg"
                                        alt="#img" height="50px" width="50px">
                                    <p class="text-sm mt-2"> {{ comment.username }} </p>
                                </div>
                                <p class="card py-3 px-3 mx-5 col-md-10"> {{ comment.comment }} </p>
                                <a class="reply">Reply</a>
                            </div>
                            <ng-container>
                                <div class="d-flex justify-content-start flex-wrap">
                                    <span class="px-5 py-5 mx-4"></span>
                                    <mat-accordion class="col-md-10">
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    <span class=""> Replies ({{ comment.replies.length }}) </span>
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <ng-container *ngIf="comment.replies.length > 0">
                                                <div *ngFor="let rep of comment.replies;"
                                                    class="d-flex justify-content-start align-items-center my-2 ">
                                                    <div
                                                        class="d-flex flex-column justify-content-center align-items-center ">
                                                        <mat-icon>account_circle</mat-icon>
                                                        <span> {{ rep.username }} </span>
                                                    </div>
                                                    <span class="card py-3 px-3 col-md-6 mx-5">
                                                        {{ rep.reply }}
                                                    </span>
                                                </div>
                                            </ng-container>
                                            <div class="d-flex justify-content-start align-items-center mt-5 flex-wrap">
                                                <div class="mx-3" [ngClass]="reply && 'btn btn-primary'"
                                                    (click)="addReply(i)">
                                                    Add Reply
                                                </div>
                                                <input type="text" class="form-control width-1" [(ngModel)]="reply">
                                            </div>
                                        </mat-expansion-panel>
                                    </mat-accordion>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>

        </mat-expansion-panel>
    </mat-accordion>
</div>