
@media (min-width:320px){
    .side{
        margin-left: 10px;
    }
}
@media (min-width:1025px){
    .side{
        margin-left: 70px;
    }
}

.inv{
    background-color: red;
    color: white;
}

.act{
    background-color: green;
    color: white;
}

.new{
    background-color: blue;
    color: white;
}

.inline{
    display: inline;
}
.block{
    display: block;
}
.custom_cont{
    margin: 10px 40px 20px 20px;
}
.brdr{
    border-top: 2px solid black;
    padding-top: 20px;
}
.margin-left{
    margin-left: 50px;
}
.save_btn{
    margin: auto;
    position: fixed;
    z-index: 2;
}
.pb-1{
    padding-bottom: 10px;
}
.pt-1{
    padding-bottom: 15px !important;
}
.header{
    position: relative;
    left: 130px;
    top: 11px;
}
.mr-5{
    margin-right: 20px
}
.box{
    width: 100%;
    height: 400px;
}
.w-100{
    width: 100%;
}
.reply{
    text-decoration: underline;
    color: black;
    cursor:pointer;
}
.replies-panel{
    padding-top: 0;
    width: max-content;
    margin-right: 200px !important;
}
.pr-10{
    padding-right: 100px;
}
.pointer-none{
    pointer-events: none;
}
.black-bg{
    background-color: #454545;
}
.border-reply{
    border: 1px solid black;
    border-radius: 25px;
}
.width-1{
    width: 800px;
}