.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  
  .w-100{
    width: 100%;
  }

  .hide{
    visibility:hidden;
  }
  .text-white{
    color: white;
  }
  .dark-input{
    background-color: black;
    color: whitesmoke;
}