
    
    <button class="advopen hide" (click)="checkPopup()" ></button>
    <input type="text" id="advanceLookup"
           placeholder="Pick one"
           aria-label="Number"
           ngClass="{{ theme && 'dark-input'}}"
           class="form-control mt-2"
           (click)="checkPopup()"
           [(ngModel)]="value"
           (change)="changes.emit('#')"
           (blur)="value = selectedObj.name"
           [matAutocomplete]="auto"
           >
    <mat-autocomplete #auto="matAutocomplete">

      <mat-option *ngFor="let option of filteredOptions" [value]="option.Name" (click)="appendInput(option.Name,option._id)">
        {{option.Name}} - {{ option.Email }} 
      </mat-option>
      <button *ngIf="advanceLookup" class="w-100 btn btn-sm btn-outline-primary" (click)="openLookup()">Advance lookup</button>
    </mat-autocomplete>
  
