<div class="button-container">
    <button color="primary" mat-fab aria-label="themeIcon" (click)="changeTheme()" matTooltip="Switch Theme" >
        <mat-icon *ngIf="!theme"> highlight</mat-icon>
        <mat-icon *ngIf="theme">wb_sunny</mat-icon>
    </button>
  </div>
<app-header *ngIf="loggedIn"></app-header>

<div>
    <router-outlet></router-outlet>
</div>
<div class="load d-flex justify-content-center align-items-center " *ngIf="service.loader">
        <div class="spinner-border d-flex justify-content-center z-00" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
</div>

<app-footer *ngIf="loggedIn"></app-footer>