.button-container{
    position: fixed;
    bottom: 0;
    left: 0 !important; 
    z-index: 20;
    padding-bottom: 12px;
    padding-left: 20px;
}
.dark{
    background-color: black;
}
.light{
    background-color: white;
}