
.centered {
    position: absolute;
    top: 25%;
    left: 10%;
}
.add{
    background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );
    color: white;
}
.view{
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
    color: white;
}
.edit{
    background-image: linear-gradient(to right, #ff6e7f, #bfe9ff);
    color: white;
}
.card{
    width:1000px;
    padding: 20px 50px;
}
.darkTab{
    background-color: #13131A;
    color: #f5f5fa !important;
}
input-dark{
    background-color: black;
    color: white;
}
.text-white{
    color: white;
}
input.dark:disabled{
    color: gray;
}
.hidden{
    visibility: hidden;
}
.w-0{
    width: 1px;
}
.object-fit{
    object-fit: contain;
}