<!-- <div class="container mt-4">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://wowslider.com/sliders/demo-77/data1/images/road220058.jpg" class="d-block w-100" alt="...">
            <div class="centered d-flex justify-content-center"> <h3 class="display-5">Welcome {{ user  }}
              <h5>This is a Issue Tracker for tracking adding or editing the issues raised by end user</h5></h3>
             </div>
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://wowslider.com/sliders/demo-77/data1/images/tuscany428041.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://wowslider.com/sliders/demo-77/data1/images/road220058.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<div class="container mt-3 mb-5">
  
    <div class="row">
        <div class="col-md-4">
            <div class="card" (click)="route('home')" >
                <div class="card-body view">
                    <p class="display-5 d-flex justify-content-center">
                        View Issues
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card add" (click)="route('addissue')">
                <div class="card-body">
                    <p class="display-5 d-flex justify-content-center">
                        Add New Issues
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card edit" (click)="route('home')">
                <div class="card-body">
                    <p class="display-5 d-flex justify-content-center">
                        Edit Issues
                    </p>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class=" container d-flex justify-content-center align-items-center mt-5 mb-5" ngClass="{{ theme && 'darkTab'}}">
  <div class="card" ngClass="{{ theme && 'darkTab'}}">

    <mat-tab-group>
      <mat-tab label="User Details">
        <div class=" container d-flex justify-content-start align-items-start">
          <img src="https://as2.ftcdn.net/v2/jpg/02/34/61/79/1000_F_234617921_p1AGQkGyEl8CSzwuUI74ljn6IZXqMUf2.jpg"
          alt="image not found" height="150px" width="150px">
        
        
        <div class="tab details">
          <div class="d-flex justify-content-center align-items-center mt-3">
            <p class="mx-2">
              <mat-form-field appearance="outline">
                <mat-label class="" ngClass="{{ theme && 'text-white'}}">First Name</mat-label>
                <input matInput ngClass="{{ theme && 'dark'}}" placeholder="First Name" [(ngModel)]="firstName" [disabled]="!editable">
              </mat-form-field>
            </p>
            <p class="mx-2">
              <mat-form-field appearance="outline">
                <mat-label class="" ngClass="{{ theme && 'text-white'}}">Last Name</mat-label>
                <input matInput ngClass="{{ theme && 'dark'}}" placeholder="Last Name" [(ngModel)]="lastName" [disabled]="!editable">
              </mat-form-field>
            </p>
          </div>
          <div class="d-flex justify-content-center align-items-center mt-3">
            <p class="mx-2">
              <mat-form-field appearance="outline">
                <mat-label class="" ngClass="{{ theme && 'text-white'}}">User Name</mat-label>
                <input matInput ngClass="{{ theme && 'dark'}}" placeholder="User Name" [disabled]="!editable" [(ngModel)]="username">
              </mat-form-field>
            </p>
            <p class="mx-2">
              <mat-form-field appearance="outline">
                <mat-label class="" ngClass="{{ theme && 'text-white'}}">Email</mat-label>
                <input matInput ngClass="{{ theme && 'dark'}}" placeholder="Email" [(ngModel)]="email" [disabled]="!editable">
              </mat-form-field>
            </p>
          </div>
          <div class="d-flex justify-content-center align-items-center mt-3">
            <p class="mx-2">
              <mat-form-field appearance="outline">
                <mat-label class="" ngClass="{{ theme && 'text-white'}}">Mobile</mat-label>
                <input matInput ngClass="{{ theme && 'dark'}}" placeholder="Mobile" [(ngModel)]="phoneNum" [disabled]="!editable">
              </mat-form-field>
            </p>
            <p class="mx-2">
              <mat-form-field appearance="outline" >
                <mat-label class="" ngClass="{{ theme && 'text-white'}}">Country</mat-label>
                <input matInput ngClass="{{ theme && 'dark'}}" placeholder="Country" [(ngModel)]="country" [disabled]="!editable">
              </mat-form-field>
            </p>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center">

          <button *ngIf="!editable" (click)="editable = true" matTooltip="edit"
            class="btn btn-sm  d-flex justify-content-center align-items-center mt-3" ngClass="{{ theme ? 'btn-outline-light' : 'btn-outline-dark'}}"><mat-icon>edit</mat-icon>
          </button>

        </div>
        <ng-container *ngIf="editable">
          <span class="d-flex justify-content-center align-items-center ">

            <button (click)="editable = false" matTooltip="cancel"
              class="btn btn-sm mx-2 d-flex justify-content-center align-items-center mt-3" ngClass="{{ theme ? 'btn-outline-light' : 'btn-outline-dark'}}"><mat-icon>cancel</mat-icon>
            </button>
            <button (click)="editable = false" matTooltip="save"
              class="btn btn-sm  mx-2 d-flex justify-content-center align-items-center mt-3" ngClass="{{ theme ? 'btn-outline-light' : 'btn-outline-dark'}}"><mat-icon>save</mat-icon>
            </button>

          </span>

        </ng-container>
      </div>
      </mat-tab>
      <mat-tab label="My Records">
            <div class="container">
              My Total Records : 15
            </div>
      </mat-tab>
      <mat-tab label="Stats">
        <div class="container">
          <div class="container">
            <div class="row d-flex justify-content-center">
              <p class="display-6"> Issues Views Comparison</p>
              <div class="">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                  [legend]="barChartLegend" chartType='bar'>
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>